<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		
	">



<integration:json-to-object-transformer input-channel="channel1" output-channel="channel2">

</integration:json-to-object-transformer>

	<integration:gateway error-channel="channel1"></integration:gateway>
	<integration:channel id="channel1"></integration:channel>
	<integration:outbound-channel-adapter channel="channel2"></integration:outbound-channel-adapter>
	<integration:channel id="channel2"></integration:channel>
</beans>
